/* Add CSS styling here */
header {
    padding: 10px;
    /* text-align: center; */
    background: darkolivegreen;
    color: white;
    /* height: 100px; */
    /* border: 4px solid purple; */
}

/* header h1 {
    border: 1px solid red;
} */

nav {
    display: flex;
    border: 1px solid black;
    padding: 12px;
    width: 300px;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
}
.link.link {
    color: black;
    text-decoration: none;
}
.link:hover {
    color: lightgray;
    text-decoration: underline;
}
.link:visited {
    color: darkolivegreen;
    text-decoration: none;
}
.link:active {
    color: olivegreen;
}

.top-third {
    display: flex;
    margin: 10px 0;
    /* padding: 10px; */
}

#me {
   width: 35%;
   overflow: hidden;
   /* padding: 10px; */
   height: 405px;
   /* margin: 10px 0px; */
   border: 2px dotted red;
}

#description {
    padding: 10px;
    border: 2px dotted blue;
    width: 65%;
}

footer {
    padding: 10px;
    /* text-align: center; */
    background: darkolivegreen;
    color: white;
    text-align: center;
}

.social {
    /* border: 1px solid pink; */
    margin: 3px;
}

.social.link {
    color: black;
}
.social:hover {
    color: lightgray;
    
}
.social:visited {
    color: white;
    text-decoration: none;
}
.social:active {
    color: black;
}

.projects {
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-image {
    height: 200px;
    width: 200px;
    padding: 8px;
    border-radius: 10px;
}

.project-image:hover {
  animation: pulse 2s;
}
@keyframes pulse {
    0% {
      background-color: lightgray;
    }}